body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.header {
  -webkit-app-region: drag; /* Makes the widget draggable */
}

.widget {
  height: 100%;
  overflow-x: hidden;
  padding: 10px;
  color: white;
  box-sizing: border-box;
}

button {
  -webkit-app-region: no-drag; /* Prevents dragging for specific elements */
}

.no-drag {
  -webkit-app-region: no-drag; /* Prevents dragging for specific elements */
}

.ant-picker-dropdown {
  -webkit-app-region: no-drag; /* Prevents dragging for specific elements */
}

.no-padding-modal .ant-modal-content {
  padding: 8px;
}

.no-padding-modal .ant-modal-close {
  top: 8px;
  right: 8px;
  font-size: 1rem;
}

/* CSS to control the calendar dropdown width if needed */
.one-month-calendar .ant-picker-panels {
  width: 300px; /* adjust width to suit single calendar layout */
}
